@tailwind base;
@tailwind components;
@tailwind utilities;

.borderAfter::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: black;
}
.disable {
  color: rgb(194, 194, 194);
  pointer-events: none;
}
